h1{
	text-align: center;
	background-color: #DDBC89;
	padding: 0.5em 0;
	font-family: 'CRYSTALRegular';
   font-weight: normal;
   font-style: normal;
   top:0px;
 left:0px; 
  margin:0px;
  color: #C67800;
}
h2{
	text-align: center;
}
nav {
background-color: #F2C989;
padding: 0.5em 0;
text-align: center;
margin: auto;
}
p{
	font-family: 'CourierPrimeCodeRegular';
   font-weight: normal;
   font-style: normal;
}
li {
	display: inline;
	padding: 0.5em;
}
Body{
	background-image: url(peach.jpg);
	background-size: 100% 100%;
	width: 100%;
	margin: 0 auto;
}
a:link {
  text-decoration: none;
}
#date{
	float: right;
	position: absolute;
	right: 200px;
}
#box{
	margin: auto;
	position: absolute;
	float: right;
	right: 180px;
	top: 83%;
}
@keyframes box{
	from   {right:100px;}
	to   {right:0px;}
}
#link{
	margin: auto;
	position: absolute;
	float: right;
	right: 300px;
	top: 78%;
	animation-name: box;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
#video {
	margin: auto;
	position: absolute;
	float: right;
	right: 300px;
	border:  5px solid black;
	top: 30%;
	background-color: gray;
}
.round {
	margin: auto;
	width: 590px;
	position: relative;
	animation-name: round;
	animation-duration: 8s;
	animation-fill-mode: both;
	border-color: red;
}
.round img{
	border-radius: 50%;
	border:  3px solid gray;
}
.round p{
	border:  3px solid gray;
}
@keyframes round{
	from   {right:60px; top:0px; color: #DDC6A2;}
	to  {right:440px; top:0px; color: #8B5605;} 
}
#errorMessages{
	color: red;
	position: absolute;
	top: 35%;
	right: 30px;
	top: 27%;
	margin: auto;
	width: 60%;
	padding: 10px;
}
#myform{
	margin: auto;
width: 60%;
padding: 10px;
}
#interest{
	position: relative;
	animation-name: first;
	animation-duration: 5s;
	animation-fill-mode: both;
}
@keyframes first{
	from   {right:0px; top:0px; color: #DDC6A2;}
	to  {right:600px; top:0px; color: #BA7100;} 
}
#about{
	margin: auto;
	width: 60%;
	padding: 10px;
}
#me{
	margin: auto;
	width: 60%;
	padding: 10px;
}
#class{
	margin: auto;
	width: 60%;
	padding: 10px;
}
.artifact{
	margin: auto;
	width: 60%;
	padding: 10px;
}
#simplemusic{
	background-color: transparent;
	width: 20%;
	margin: auto;
	position: relative;
	text-align: center;
}
#simplemusc p{
	text-align: center;
}
#module{
	width: 20%;
	margin: auto;
}
#description{
	background-color: white;
	width: 30%;
	float: left;
	margin: 1%;
	position: relative;
}
.artifact1{
	width: 275px;
	height: 175px;
	float: left;
	margin: auto;
	position: absolute;
	top: 22%;
}
.artifact2{
	width: 225px;
	height: 150px;
	float: Right;
	 background-size: 100%;
	margin: auto;
	position: absolute;
	top: 40%;
	right: 30px;
}
.artifact3{
	width: 275px;
	height: 175px;
	float: left;
	margin: auto;
	position: absolute;
	top: 55%;
}
.artifact4{
	width: 250px;
	height: 175px;
	float: right;
	margin: auto;
	position: absolute;
	top: 67%;
	right:  25px;
}
.artifact5{
	width: 225px;
	height: 150px;
	float: left;
	margin: auto;
	position: absolute;
	top: 85%;
	left: 25px;
}